@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

// $content-width: 25vw;

.content-container {
  padding: 0vw 5vw;
}

.text-container {
  padding: 0px 25vw;
  font-family: "Inter", serif;

  h1 {
    font-size: 3.25rem;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    transition: 0.25s;
    -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
  h1:hover {
    opacity: 0.9;
  }
  h2 {
    font-size: 2rem;
    padding-bottom: 30px;
    padding-top: 10px;
    // padding-top: 10px;
  }
  p {
    font-size: 1rem;
    padding-bottom: 15px;
  }
  .content-img {
    width: 50%;
    cursor: pointer;
  }
  .divider-img {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
  }
  .right {
    padding: 20px;
    padding-right: 0;
    padding-top: 0;
    float: right;
    // clear: right;
  }
  .left {
    padding: 20px;
    padding-left: 0;
    padding-top: 10px;
    float: left;
    // clear: left;
  }
  a {
    color: #6196cc;
    text-decoration: none;

    transition: 0.1s;
  }
  a:hover {
    color: #6196ccd2;
  }
}

// body {
//   background-color: tan;
// }

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  // body {
  //   background-color: blue;
  // }
  .text-container {
    padding: 0px 15vw;
    h1 {
      font-size: 2.5rem;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 2rem;
      padding-bottom: 12.5px;
    }
    p {
      font-size: 0.9rem;
      padding-bottom: 12.5px;
    }
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  // body {
  //   background-color: olive;
  // }
  .text-container {
    padding: 0px 20px;
    h1 {
      font-size: 2rem;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 1.5rem;
      padding-bottom: 12.5px;
    }
    p {
      font-size: 0.8rem;
      padding-bottom: 12.5px;
    }
    .left {
      padding: 10px;
      padding-left: 0;
    }
    .right {
      padding: 10px;
      padding-right: 0;
    }
    .divider-img {
      padding: 5px 0;
    }
  }
}

@-webkit-keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
