@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

.dividing-header {
  h1 {
    font-family: "Syncopate", sans-serif;
    font-size: 8vw;
    word-spacing: 2px;
    height: 6vw;
  }

  .filled {
    color: white;
  }

  .outline {
    -webkit-text-stroke: 0.2vw #505050;
    color: rgba(0, 0, 0, 0);
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
  }

  .block {
    width: auto;
  }
}
