@import "_vars.scss";

.contour-map {
    position: absolute;
    // z-index: -1;
    overflow: hidden;
    width: auto;
    height: 110%;
    // opacity: 0.1;
}
.contourmap-overlay {
    width: 100vw;
    height: 110vh;
    position: absolute;
    z-index: 10;
    background: linear-gradient(0deg, $background-colour 0%, rgba(0, 212, 255, 0) 40%);
}
.center {
    width: 100vw;
    height: 100vh;
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    background: rgba(204, 204, 204, 0);

    h1 {
        position: absolute;
        font-size: 5rem;
        // color: red;
    }
}

.absolute {
    position: absolute;
}
