@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

$imageWidth: 35vw;

.left {
  // background-color: red;
  margin-left: 0;
  margin-right: auto;
  width: $imageWidth;
}

.right {
  // background-color: blue;
  // align-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  width: $imageWidth;
}

.imagecard {
  // padding: 0 5vw;
  // margin: 5vw;
  font-family: "Poppins", sans-serif;
  // transition: 0.25s;

  img {
    width: $imageWidth;
  }
  h1 {
    font-weight: 500;
    font-size: 1.5vw;
    // top: 0.25vw;
    // position: relative;
  }

  h2 {
    font-weight: 500;
    color: #eb5757;
    font-size: 1vw;
  }

  .inset {
    position: relative;
    left: 5vw;
    top: -2.5vw;
  }

  .arrow {
    filter: invert(75%) sepia(93%) saturate(5535%) hue-rotate(329deg)
      brightness(98%) contrast(89%);
    width: 0.9vw;
    position: relative;
    top: 0.1vw;
    left: 0.25vw;
  }
}

// .imagecard-link {
//   transition: 0.25s;
// }

// .imagecard-link:hover {
//   transform: scale(0.98);
// }
