@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

.subheading {
  font-family: "Syncopate", sans-serif;
  font-size: 4vw;
  word-spacing: 2px;
  width: 100vw;

  user-select: none;

  .outline {
    -webkit-text-stroke: 0.2vw #505050;
    color: #000;
  }

  h1 {
    height: 4.5vw;
    text-align: end;
    padding-right: 5vw;
  }
}
